body {
    font-family: 'Open Sans', sans-serif;

}

.navbar-container {
    background-color: black;
    position: sticky;
    top: 0%;
    /*likha navbar er niche diye jabe */
    z-index: 2;
}

/*<!--bannser section-->*/
.banner-container {
    background-color: #EEEEEE;
    background-image: url(/img/Untitled\ design.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/*
.banner-column {
    background-color: #8D8D8D;
}

/* about-section */
.about-container {
    background-color: #00BDBD;
}

h2 {
    font-weight: 900;
    color: black;
}

.container {
    text-align: justify;
}

/* education container */
.education-container {
    background-color: #EEEEEE;
}

.circle-color {
    background-color: #fb857f;
}


.circle-color-type {
    color: #fb857f;
}

.circle {
    background-color: #fb857f;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* project section part */

.project-container {
    background-color: #2bb3d0;

}

/* contact-form section  */
.form-container {
    background-color: #474D5D;
}

/* form er bhitorer color  */
.inner-form {
    background-color: #5f6881;
}


/* button e hover apply  */
.circle-color:hover {
    color: black !important;
}

/* footer section  */
.footer {
    background-color: #2BB3DD;
}

/* this is icon section  */
.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #2BB3DD;
}

.icon:hover {
    background-color: #474D5D;
}